html {
    font-size: 62.5%;
}

body {
    font-family: "Merriweather", serif;
}

:root {
    /* Colors */
    --color-primary: #000;
    --color-secondary: #fff;
    --color-accent: rgb(186, 150, 91);

    /* Others */
    --ls: 0.5px;
    --lsMobile: 1px;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.center{
    margin: 0 auto;
}

.logo {
    padding: 30px;
    width: 80px;
    height: 80px;
}

.logo__border {
    border-radius: 50%;
    border: 3px solid black;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

.enchanted {
    color: var(--color-accent);
    text-transform: uppercase;
    letter-spacing: var(--ls);
}

.icon {
    width: 20px;
    height: 20px;
}

.upper {
    text-transform: uppercase;
}

/* Section Introduction */
.introduction {
    margin: 8.5rem 3rem;
}

.i-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.i-about p {
    font-size: 1.8rem;
    letter-spacing: var(--lsMobile);
    text-align: center;
    line-height: 3rem;
}

/* Section Welcome */
.welcome {
    position: relative;
    margin-top: 2rem;
}

/* -Photos */
.photos-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 300px);
}

.photo img {
    position: relative;
    width: 100%;
    height: 100%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

.p4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (min-width: 900px) {
    .welcome {
        height: 152rem;
    }

    .photos-background {
        background-color: #888;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .photos-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

/* -Content */
.w-content {
    padding: 5rem 1.5rem;
    background-color: #fff;
}

.w-header {
    padding: 0 4.6rem;
    text-align: center;
}

.w-content h3 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: var(--lsMobile);
    margin: 2rem 0;
}

.w-content .upper {
    margin-top: 6rem;
}

.w-about p {
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 25px;
}

.link {
    text-align: center;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

@media screen and (min-width: 500px) {
    .w-content {
        padding: 5rem 3rem;
    }
}

@media screen and (min-width: 630px) {
    .w-content{
        max-width: 630px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    .w-content {
        position: relative;
        top: 54rem;
        max-width: 800px;
        z-index: 1;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
    }

    .w-about {
        max-width: 600px;
        margin: 0 auto
    }
}

@media screen and (min-width: 1200px) {
.photos-background {
        height: 900px;
}

.photos-container {
    grid-template-rows: repeat(2, 450px);
    max-width: 1500px;
}

.photo img {
    object-fit: cover;
}
}

@media screen and (min-width: 1500px) {
.photos-container {
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
}
}


/* Fixed Content */
.fixed {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.fixed-content {
    z-index: 1;
    position: relative;
    text-align: center;
}

.fixed-title {
    text-transform: uppercase;
    letter-spacing: var(--lsMobile);
    font-size: 2.5rem;
    margin: 0;
}

.fixed-description {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.fixed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 44, 54, 0.6);
    z-index: 0;
}

.f1 {
    background-image: url(/Content/images/fxc-1.jpg);
}

.f2 {
    background-image: url(/Content/images/n2.jpg);
}

.f3 {
    background-image: url(/Content/images/n1.jpg);
}

@media screen and (min-width: 900px) {
    .f2 {
        background-image: url(/Content/images/n2-big.jpg);
    }
    .f3 {
        background-image: url(/Content/images/n1-big.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .fixed-title {
        font-size: 3.5rem;
    }
    
    .fixed-description {
        font-size: 2.4rem;
        text-transform: uppercase;
    }
    
    .fixed-link {
        font-size: 2rem;
    }
}

/* Section About */
/* -Section */
.about {
    position: relative;
    margin-top: 3rem;
}

/* -Container */
.a-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    overflow: hidden;
}

.a-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-container .ct-item {
    padding: 1.5rem;
}

.about-text {
    font-size: 1.1rem;
    letter-spacing: var(--ls);
    line-height: 18px;
    margin: 0 0 5px 0;
    display: none;
}

.a-link {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.a-link:hover{
    text-decoration: underline;
}
/* -Content */
.a-content {
    background-color: #fff;
}

.a-header {
    margin: 4rem 0;
    padding: 0 3.6rem;
    text-align: center;
}

.a-header h3 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: var(--lsMobile);
    margin: 2rem 0;
}

@media screen and (min-width: 630px) {
    .about {
        margin-top: 4.2rem;
    }

    .a-header {
        padding: 0 10rem;
    }

    .about-text {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .a-content {
        padding-top: 3rem;
        position: relative;
        top: -10rem;
        max-width: 800px;
        height: 82rem;
        z-index: 1;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
    }

    .a-about {
        max-width: 800px;
    }

    .a-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
    }

    .ct-img1 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .ct-img2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* -Info */
.a-info {
    background-color: #3a3a3a;
    color: #fff;
}

.info-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.a-info h3,
h4 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--lsMobile);
}

.a-info h3 {
    font-size: 2rem;
    padding: 4rem 0 0 2rem;
    margin: 0;
}

.a-info h4 {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.info-list {
    padding: 0;
    margin: 3rem 0;
}

.info-list li {
    border-top: 0.1px solid #aaa;
    list-style: none;
    padding: 0.9rem 0;
    font-size: 1.3rem;
}

.in-link {
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.in-link:hover {
    color: #fff;
}

@media screen and (min-width: 500px) {
    .a-info h3 {
        text-align: center;
    }

    .info-container {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

/* Section News */
@media screen and (min-width: 900px) {
    .news {
        background-color: #fff;
        position: relative;
        top: -6rem;
        max-width: 800px;
        height: 150rem;
        z-index: 1;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
    }    
}

/* #News Container */
.position-top {
    object-position: 50% 20%;
}

.news-container {
    height: 300px;
    position: relative;
}

.news-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nc-overlay {
    transition: all 0.2s ease-out;
}

.news-container:hover .nc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 44, 54, 0.6);
    z-index: 0;
}

.news-about {
    width: 95%;
    background-color: #3a3a3a;
    color: #fff;
    padding: 0.1rem 0;
    margin: 0 auto;
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0.9;
}

.news-about h4,
p {
    margin: 1rem 1.5rem;
}

.news-about h4 {
    font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
}

.news-about p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #aaa;
}

@media screen and (min-width: 500px) {
    .news-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 800px) {
    .news-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

/* News Header */
.n-header {
    text-align: center;
    padding: 5rem 0;
}

.n-header h3 {
    font-size: 1.4rem;
    padding: 0 4.6rem;
    letter-spacing: var(--lsMobile);
    margin: 1.5rem 0;
}

.n-header p {
    font-size: 1.2rem;
    line-height: 20px;
}

/* News Extras */
.fiStars {
    margin: 2rem 0;
}

.ne-image {
    width: 20px;
    height: 20px;
}

.ne-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.ne-icon:hover {
    box-shadow: 0 0 0 10px #461685;
}

.news-extras {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.news-extras p {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: var(--lsMobile);
}

.news-icons {
    padding: 2rem 0;
}

.ne-link {
    margin-right: 2rem;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.c-title {
    font-size: 2rem;
    margin: 0;
}

.c-btn {
    font-size: 1.8rem;
    background-color: transparent;
    border: 1px solid var(--color-accent);
    padding: .8rem 1.4rem;
    letter-spacing: var(--lsMobile);
    margin: 2rem 0;
    transition: all 0.25s ease-out;
}

.c-btn:hover {
    color: #000;
    border-color: #000;
}

.c-contact {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--lsMobile);
    color: #666;
    transition: all .25s ease-out;
}

.c-contact:hover {
    color: #000;
}

@media screen and (min-width: 500px) {
    .c-btn {
        padding: 2.5rem 4rem;
    }
}

/* Footer */
.footer {
    background-color: #3a3a3a;
}

.f-content::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #aaa;
    margin-top: 2rem;
    opacity: 0.5;

}

.f-list {
    column-count: 2;
    list-style: none;
    padding: 3rem 3rem 1rem 3rem;
}

.f-list li {
    margin: .7rem 0;
    width: 50%;
}

.f-item {
    color: #aaa;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--lsMobile);
    text-align: left;
    transition: all 0.2s ease-out;
}

.f-item:hover {
    color: goldenrod;
}

.f-btn {
    background-color: transparent;
    color: #aaa;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: var(--lsMobile);
    text-align: center;
    text-transform: uppercase;
    border: .5px solid #aaa;
    padding: 1.8rem 2.2rem;
    transition: all 0.2s ease-out;
}

.f-btn:hover {
    color: goldenrod;
    border-color: goldenrod;
}

@media screen and (min-width: 600px) {
    .f-list {
        column-count: unset;
        padding: 3rem 3rem 0 3rem;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .f-list li {
        display: inline-block;
        margin: 1rem 1.2rem;
        width: auto;
    }

    .f-btn {
        margin-top: 2rem;
    }
}

/* Footer Credits */
.f-credit {
    padding: 2rem;
}

.social-media {
    margin: 1rem auto;
    width: fit-content;
}

.credits {
    color: #aaa;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.c-link {
    color: #999;
    text-decoration: none;
    transition: all .2s ease-out;
}

.c-link:hover {
    color: goldenrod;
}

/* Navigation */
/* -Burger Menu */
.menu-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-content {
    content: "";
    background-color: var(--color-accent);
    height: 3px;
    width: 30px;
    border-radius: 50px;
    transition: all .5s ease-out;
}

.menu-content::before,
.menu-content::after {
    content: "";
    position: absolute;
    background-color: var(--color-accent);
    height: 3px;
    width: 30px;
    border-radius: 50px;
    transition: all .5s ease-out;
}

.menu-content::before {
    transform: translateY(-10px);
}

.menu-content::after {
    transform: translateY(10px);
}

/* --Menu Animation */
.menu-btn.open .menu-content{
    background-color: transparent;
    transform: rotate(180deg);
}

.menu-btn.open .menu-content::before {
    transform: rotate(135deg) ;
}
.menu-btn.open .menu-content::after {
    transform: rotate(-135deg);
}

/* -Nav */
.na-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 1.8rem;
    z-index: 99;
}

.nac-text {
    display: none;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: var(--lsMobile);
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1rem 1.8rem;
    transition: all 0.25s ease-out;
}

.nac-text:hover {
    color: #fff;
}

.na-text {
    font-size: 1.4rem;
    letter-spacing: var(--lsMobile);
    margin: 0 0.5rem;
}

@media screen and (min-width: 750px) {
    .na-container {
        justify-content: space-between;
    }
    .nac-text {
        display: block;
    }
}

/* --Content */
.na-content {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: rgba(58,58,58,0.94);
    height: 100vh;
    width: 100vw;
    transform: translateY(-25px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.na-content.extended {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 500px) {
    .na-content {
        transform: translateY(0) translateX(100px);
        width: 28rem;
    }
}

.nac-container {
    margin: 2rem 2.2rem;
}
.na-list {
    list-style: none;
    padding: 0;
}

.na-list li {
    margin: 1.6rem 0;
}

.na-item {
    color: #aaa;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: var(--lsMobile);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.na-item:hover {
    color: #fff;
}

.adress {
    margin-top: 3rem;
    color: rgb(189, 188, 188);
    font-size: 1.3rem;
    letter-spacing: var(--lsMobile);
}

.adress p {
    line-height: 22px;
    margin: 0;
}

.number {
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.number p {
    color:rgb(189, 188, 188);
    font-size: 1.3rem;
    margin: 0 1rem 0 0;
}

.number a {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: var(--lsMobile);
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.number:hover a {
    color: #fff;
}

/* Badge */

.badge-container {
    position: absolute;
    width: 35px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
}

.badge {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem;
    text-decoration: overline;
    border: 1px solid #fff;
    border-top: 0;
    border-radius: 15%;
}

.badge-container::after {
    content: "";
    position: absolute;
    bottom: -7.2px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 8px solid var(--color-accent);
    background-color: transparent;
}