html {
    font-size: 62.5%;
}

body {
    font-family: "Merriweather", serif;
}

:root {
    /* Colors */
    --color-primary: #000;
    --color-secondary: #fff;
    --color-accent: rgb(186, 150, 91);

    /* Others */
    --ls: 0.5px;
    --lsMobile: 1px;
}

.logo {
    padding: 30px;
    width: 80px;
    height: 80px;
}

.logo__border {
    border-radius: 50%;
    border: 3px solid black;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

.enchanted {
    color: var(--color-accent);
    text-transform: uppercase;
    letter-spacing: var(--ls);
}

.icon {
    width: 20px;
    height: 20px;
}

.upper {
    text-transform: uppercase;
}

/* Section Introduction */
.introduction {
    margin: 2rem 3rem;
}

.i-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.i-about p {
    font-size: 1.8rem;
    letter-spacing: var(--lsMobile);
    text-align: center;
    line-height: 3rem;
}

/* Section Welcome */
.welcome {
    position: relative;
    margin-top: 2rem;
}

/* -Photos */
.photos-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 300px);
}

.photo img {
    position: relative;
    width: 100%;
    height: 100%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

.p4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (min-width: 900px) {
    .photos-background {
        background-color: #888;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .photos-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

/* -Content */
.w-content {
    padding: 5rem 1.5rem;
    background-color: #fff;
}

.w-header {
    padding: 0 4.6rem;
    text-align: center;
}

.w-content h3 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: var(--lsMobile);
    margin: 2rem 0;
}

.w-content .upper {
    margin-top: 6rem;
}

.w-about p {
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 25px;
}

.link {
    text-align: center;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

@media screen and (min-width: 500px) {
    .w-content {
        padding: 5rem 3rem;
    }
}

@media screen and (min-width: 630px) {
    .w-content{
        max-width: 630px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    .w-content {
        position: relative;
        top: 500px;
        max-width: 800px;
        z-index: 1;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
    }

    .w-about {
        max-width: 600px;
        margin: 0 auto
    }
}

@media screen and (min-width: 1200px) {
.photos-background {
        height: 900px;
}

.photos-container {
    grid-template-rows: repeat(2, 450px);
    max-width: 1500px;
}

.photo img {
    object-fit: cover;
}

.w-content {
    top: 800px
}
}

@media screen and (min-width: 1500px) {
.photos-container {
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
}
}


/* Fixed Content */
.fixed {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/Content/images/fxc-1.jpg);
    position: relative;
    overflow: hidden;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.fixed-content {
    z-index: 1;
    position: relative;
    top: -100px;
    left: -15px;
    text-align: center;
}

.fixed-title {
    text-transform: uppercase;
    letter-spacing: var(--lsMobile);
    font-size: 2.5rem;
    margin: 0;
}

.fixed-description {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.fixed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 44, 54, 0.6);
    z-index: 0;
}

@media screen and (min-width: 1200px) {
    .fixed-title {
        font-size: 3.5rem;
    }
    
    .fixed-description {
        font-size: 2.4rem;
        text-transform: uppercase;
    }
    
    .fixed-link {
        font-size: 2rem;
    }
}

/* Section About */
/* -Section */
.about {
    position: relative;
    margin-top: 3rem;
}

/* -Container */
.a-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    overflow: hidden;
}

.a-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-container .ct-item {
    padding: 1.5rem;
}

.about-text {
    font-size: 1.1rem;
    letter-spacing: var(--ls);
    line-height: 18px;
    margin: 0 0 5px 0;
    display: none;
}

.a-link {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.a-link:hover{
    text-decoration: underline;
}
/* -Content */
.a-content {
    background-color: #fff;
}

.a-header {
    margin: 4rem 0;
    padding: 0 3.6rem;
    text-align: center;
}

.a-header h3 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: var(--lsMobile);
    margin: 2rem 0;
}

@media screen and (min-width: 630px) {
    .about {
        margin-top: 6rem;
    }

    .a-header {
        padding: 0 10rem;
    }

    .about-text {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .a-content {
        padding-top: 3rem;
        position: relative;
        top: 100px;
        max-width: 800px;
        z-index: 1;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
    }

    .a-about {
        max-width: 800px;
    }

    .a-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
    }

    .ct-img1 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .ct-img2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* -Info */
.a-info {
    background-color: #3a3a3a;
    color: #fff;
}

.info-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.a-info h3,
h4 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--lsMobile);
}

.a-info h3 {
    font-size: 2rem;
    padding: 4rem 0 0 2rem;
    margin: 0;
}

.a-info h4 {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.info-list {
    padding: 0;
    margin: 3rem 0;
}

.info-list li {
    border-top: 0.1px solid #aaa;
    list-style: none;
    padding: 0.9rem 0;
    font-size: 1.3rem;
}

.in-link {
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.in-link:hover {
    color: #fff;
}

@media screen and (min-width: 500px) {
    .a-info h3 {
        text-align: center;
    }

    .info-container {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

/* Section News */
@media screen and (min-width: 900px) {
    .news {
        position: relative;
        top: 100px;
        max-width: 800px;
        z-index: 1;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
    }    
}

/* #News Container */
.position-top {
    object-position: 50% 20%;
}

.news-container {
    height: 300px;
    position: relative;
}

.news-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nc-overlay {
    transition: all 0.2s ease-out;
}

.news-container:hover .nc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 44, 54, 0.6);
    z-index: 0;
}

.news-about {
    width: 95%;
    background-color: #3a3a3a;
    color: #fff;
    padding: 0.1rem 0;
    margin: 0 auto;
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0.9;
}

.news-about h4,
p {
    margin: 1rem 1.5rem;
}

.news-about h4 {
    font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
}

.news-about p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #aaa;
}

@media screen and (min-width: 500px) {
    .news-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 800px) {
    .news-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

/* News Header */
.n-header {
    text-align: center;
    padding: 5rem 0;
}

.n-header h3 {
    font-size: 1.4rem;
    padding: 0 4.6rem;
    letter-spacing: var(--lsMobile);
    margin: 1.5rem 0;
}

.n-header p {
    font-size: 1.2rem;
    line-height: 20px;
}

/* News Extras */
.fiStars {
    margin: 2rem 0;
}

.ne-image {
    width: 20px;
    height: 20px;
}

.ne-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.ne-icon:hover {
    box-shadow: 0 0 0 10px #461685;
}

.news-extras {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.news-extras p {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: var(--lsMobile);
}

.news-icons {
    padding: 2rem 0;
}

.ne-link {
    margin-right: 2rem;
}


