<div class="fixed f1">
    <div class="fixed-content fc1">
        <h3 class="fixed-title ft1">Man strong</h3>
        <p class="fixed-description fd1">This is MyGym</p>
        <a class="fixed-link enchanted fl1" href="#">Read more</a>
    </div>
    <div class="fixed-overlay"></div>
</div>

<div class="fixed f2">
    <div class="fixed-content fc2">
        <h3 class="fixed-title ft2">Chris Manole</h3>
        <p class="fixed-description fd2">Athlete of the month March 2022</p>
        <a class="fixed-link enchanted fl2" href="#">Read more</a>
    </div>
    <div class="fixed-overlay"></div>
</div>

<div class="fixed f3">
    <div class="fixed-content fc3">
        <h3 class="fixed-title ft3">Selene Monroe</h3>
        <p class="fixed-description fd3">Athlete of the month February 2022</p>
        <a class="fixed-link enchanted fl3" href="#">Read more</a>
    </div>
    <div class="fixed-overlay"></div>
</div>