<footer class="footer">
    <div class="f-content">
        <ul class="f-list">
            <li><a class="f-item" href="#">home</a></li>
            <li><a class="f-item" href="#">services</a></li>
            <li><a class="f-item" href="#">careers</a></li>
            <li><a class="f-item" href="#">terms</a></li>
            <li><a class="f-item" href="#">contact</a></li>
            <li><a class="f-item" href="#">cancel</a></li>
            <li><a class="f-item" href="#">membership</a></li>
            <li><a class="f-item" href="#">about</a></li>
            <li><a class="f-item" href="#">shedule</a></li>
            <li><a class="f-item" href="#">faq</a></li>
            <li><a class="f-item" href="#">advertising</a></li>
            <li><a class="f-item" href="#">pause membership</a></li>
            <li><a class="f-item" href="#">refer a friend</a></li>
        </ul>
        <div class="fit-content center"><button class="f-btn">getting started</button></div>
    </div>
    <div class="f-credit">
        <div class="social-media">
                <a class="ne-link" href="#"><img class="ne-icon" src="/Content/icons/yelp-logo.svg" alt="Yelp"></a>
                <a class="ne-link" href="#"><img class="ne-icon" src="/Content/icons/facebook-logo.svg" alt="Facebook"></a>
                <a class="ne-link" href="#"><img class="ne-icon" src="/Content/icons/instagram-logo.svg" alt="Instagram"></a>
        </div>
        <div class="credits">
            <p>©MyGym</p>
            <p>All rights reserved. <a class="c-link" href="#">Site credits</a></p>
        </div>
    </div>
</footer>