<nav>
    <div class="na-container">
        <a class="nac-text" href="#">getting started</a>
        <div class="badge-container">
            <div class="badge">MG</div>
        </div>
        <div class="menu">
            <p class="na-text enchanted">menu</p>
            <div class="menu-btn">
                <div class="menu-content">
                </div>
            </div>
        </div>
        <div class="na-content">
            <div class="nac-container">
                <ul class="na-list">
                    <li><a class="na-item" href="#">get started</a></li>
                    <li><a class="na-item" href="#">about</a></li>
                    <li><a class="na-item" href="#">memberships</a></li>
                    <li><a class="na-item" href="#">services</a></li>
                    <li><a class="na-item" href="#">schedule</a></li>
                    <li><a class="na-item" href="#">shop</a></li>
                    <li><a class="na-item" href="#">contact</a></li>
                </ul>
                <div class="adress">
                    <p>MyGym <br> Here is the adress</p>
                </div>
                <div class="number">
                    <p>0777 888 999</p>
                    <a class="enchanted" href="#">directions</a>
                </div>
            </div>
        </div>
    </div>
</nav>