<section class="about">
    <div class="a-content">
        <header class="a-header">
            <h3 class="enchanted">all levels. all ages. all welcome.</h3>
            <h3>We've got multiple programs and classes to help you meet your goals. Get ready to improve your life.</h3>
        </header>
        <div class="a-about">
            <div class="a-container">
                <div class="ct-item">
                    <h3><a class="a-link enchanted" href="#">general<br>fitness</a></h3>
                    <p class="about-text">Our intention is to go beyound the swat. We want to make you fitter, better and stronger.<br>Ourt coaches will teach you everything you need to know to get in the best shape of your life</p>
                </div>
                <img class="ct-img1" src="/Content/images/running-small.jpg">
                <img class="ct-img2" src="/Content/images/cardio-small.jpg">
                <div class="ct-item">
                    <h3><a class="a-link enchanted" href="#">personalized<br>performance<br>coaching</a></h3>
                    <p class="about-text">Our most presonalized and interactive program that we offer, combining nutrition, program design and recovery protocols to put you on the most efficient track toward hitting all of your goals.</p>
                </div>
            </div>
        </div>
        <div class="a-info">
            <h3>our services</h3>
            <div class="info-container">
                <div class="info-item">
                    <h4>memberships</h4>
                    <ul class="info-list">
                        <li><a class="in-link" href="#">MG Prep Course</a></li>
                        <li><a class="in-link" href="#">MG Standard membership</a></li>
                        <li><a class="in-link" href="#">MG Class Packs</a></li>
                    </ul>
                </div>
                <div class="info-item">
                    <h4>programs</h4>
                    <ul class="info-list">
                        <li><a class="in-link" href="#">MG Performance coaching</a></li>
                        <li><a class="in-link" href="#">MG Olympic Weightlifting</a></li>
                        <li><a class="in-link" href="#">MG Personal Training</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>