<section class="news">
    <header class="n-header">
        <h3 class="enchanted">keep a finger on the pulse</h3>
        <p>Our members are full of hearth, and we'd love for your to join us. The Pulse is where we share the lastet from the MyGym community.</p>
    </header>
    <div class="news-content">
        <div class="news-container">
            <img src="/Content/images/n8.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>MyGym News: April 2022</h4>
                <p>news</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n2.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>Chris Manole: Athlete of the Month March February 2022</h4>
                <p>story</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n1.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>Selene Monroe: Athlete of the Month </h4>
                <p>story</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n4.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>MyGym News: January 2022</h4>
                <p>news</p>
            </div>
        </div>
        <div class="news-container">
            <img class="position-top" src="/Content/images/n7.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>George Zerante: Athlete of the Month December 2021</h4>
                <p>story</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n9.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>MyGym News: November 2021</h4>
                <p>news</p>
            </div>
        </div>
        <div class="news-container">
            <img class="position-top" src="/Content/images/n3.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>Brian Ringley: Athlete of the Month October 2021</h4>
                <p>story</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n11.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>MyGym News: September 2021</h4>
                <p>news</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n10.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>MyGym News: August 2021</h4>
                <p>news</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n5.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>Chris Matias: Athlete of the Month July 2021</h4>
                <p>story</p>
            </div>
        </div>
        <div class="news-container">
            <img src="/Content/images/n6.jpg">
            <div class="nc-overlay"></div>
            <div class="news-about">
                <h4>Nicolas Romulus: Athlete of the Month June 2021</h4>
                <p>story</p>
            </div>
        </div>
    </div>
        <div class="news-extras">
                <div class="fiStars">
                    <img class="ne-image" src="Content/icons/star.svg">
                    <img class="ne-image" src="Content/icons/star.svg">
                    <img class="ne-image" src="Content/icons/star.svg">
                    <img class="ne-image" src="Content/icons/star.svg">
                    <img class="ne-image" src="Content/icons/star.svg">
                </div>
            <p>read what people are saying about MyGym</p>
            <div class="news-icons">
                <a class="ne-link" href="#"><img class="ne-icon" src="/Content/icons/yelp-logo.svg" alt="Yelp"></a>
                <a class="ne-link" href="#"><img class="ne-icon" src="/Content/icons/facebook-logo.svg" alt="Facebook"></a>
                <a class="ne-link" href="#"><img class="ne-icon" src="/Content/icons/instagram-logo.svg" alt="Instagram"></a>
            </div>
        </div>
</section>